/* IE 10+ Viewport fix */
@-ms-viewport { width:deivce-width; }
@viewport { width:deivce-width;}



/* MIDDLE <800*/
@media screen and (max-width: 800px) {


}

/* MEDIUM - 900px */
@media screen and (max-width: 900px) {



}


/* SMALL <600*/
@media screen and (max-width: 600px) {

.stat-number {
  font-size: 30px;
  margin-left: 3px;
}

.stat-label {
  font-size: 12px;
  margin-top: 16px;
  margin-left: 3px;
}


}

/* XS <400*/
@media screen and (max-width: 400px) {



}


